---
---

@import "minima";
@import "https://use.fontawesome.com/releases/v6.5.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

h2 {
    margin-top: 2em;
    font-weight: bold;
}
h3 {
    margin-top: 1.5em;
}
